html {
  scroll-behavior: smooth;
  cursor: url("../images/cursor.cur"), auto;
}

body {
  margin: 0;
  font-family: 'MS Sans Serif', sans-serif;
  background-color: #008080;
  background-attachment: fixed;
  cursor: url("../images/cursor.cur"), auto;
}

a {
  cursor: url("../images/link.cur"), pointer;
}

option {
  cursor: url("../images/link.cur"), pointer;
}

select {
  background-color: #C0C0C0;
  border: 2px outset #fff;
  padding: 2px 4px;
  font-size: 12px;
  cursor: url("../images/cursor.cur"), auto;
}

button {
  background-color: #C0C0C0;
  border: 2px outset #fff;
  padding: 2px 8px;
  cursor: url("../images/link.cur"), pointer;
  font-size: 16px;
}

button:hover {
  background-color: #A0A0A0;
}

select:hover {
  background-color: #A0A0A0;
}


/* Estilos para la barra superior */

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;

  background-image: url('../images/LainCityV2.webp');
  margin: 10px 10px 10px 10px;
  border-style: outset;
  border-width: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 60px;
  height: auto;
  object-fit: contain;
}

/* Estilos para el contenido principal */

.main-content {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px 10px 10px 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
}


/* Estilos para barra de comentarios*/

#comentario-text {
  width: 99%;
  height: 300px;
  border-style: outset;
}

#comentarios-section {
  width: 60%;
  margin: 0 auto;
}

.contenedor-comments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  margin: 10px 10px 10px 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


/* Estilos para el contenedor de imágenes */

.imagenes-contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

/* Estilos para el reproductor de video */

#video-frame {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 500px;
  border: none;
  background-image: url('../images/background.gif');
  background-size: auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

}

.video-player {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  margin: 10px 10px 10px 10px;
  margin-bottom: 20px;
  border-width: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.controls {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.controls button {
  background-color: #C0C0C0;
  border: 2px outset #fff;
  padding: 2px 8px;
  cursor: url("../images/link.cur"), pointer;
  font-size: 16px;
}

.controls button:hover {
  background-color: #A0A0A0;
}

/* Estilos para la ventana al estilo Windows 95 */

.win95-window {
  width: 260px;
  border: 2px solid #000;
  background-color: #C0C0C0;
  box-shadow: inset -2px -2px #fff, inset 2px 2px #808080;
  position: relative;
}

.win95-window-active::before {
  content: " ";
  display: block;
  position: absolute;
  /* ahora es relativo al .video-player */

  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgb(0 0 0 / 30%) 50%, rgb(0 0 0 / 0%) 50%);
  background-size: 100% 2px, 3px 100%;
  z-index: 999;
}

.title {
  font-size: 24px;
  margin-left: 20px;
}

.title-bar {
  background: #000080;
  color: white;
  padding: 2px 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-bar .title {
  font-size: 14px;
}

.title-bar .close-button {
  background-color: #C0C0C0;
  color: black;
  border: 1px solid #808080;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 14px;
  font-weight: bold;
  cursor: url("../images/link.cur"), pointer;
}

.window-body {
  padding: 10px;
  font-size: 14px;
}

@keyframes blink {

  0%,
  100% {
    background-color: #000080;
  }

  50% {
    background-color: #0000A0;
  }
}

.title-bar {
  animation: blink 1.5s infinite;
}

/* Estilos para el texto con efecto glitch */

.glitch {
  color: #C0C0C0;
  font-size: larger;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.8);
  animation: glitch 1s infinite;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.glitch::before {
  color: #0ff;
  z-index: -1;
  animation: glitchTop 1s infinite;
}

.glitch::after {
  color: #f0f;
  z-index: -2;
  animation: glitchBottom 1s infinite;
}

@keyframes glitch {
  0% {
    transform: none;
  }

  20% {
    transform: skew(-2deg, 0deg);
  }

  40% {
    transform: skew(2deg, 0deg);
  }

  60% {
    transform: skew(-2deg, 0deg);
  }

  80% {
    transform: skew(2deg, 0deg);
  }

  100% {
    transform: none;
  }
}

@keyframes glitchTop {
  0% {
    clip-path: inset(0 0 85% 0);
    transform: translate(-2px, -2px);
  }

  50% {
    clip-path: inset(0 0 50% 0);
    transform: translate(2px, 2px);
  }

  100% {
    clip-path: inset(0 0 85% 0);
    transform: translate(-2px, -2px);
  }
}

@keyframes glitchBottom {
  0% {
    clip-path: inset(85% 0 0 0);
    transform: translate(2px, 2px);
  }

  50% {
    clip-path: inset(50% 0 0 0);
    transform: translate(-2px, -2px);
  }

  100% {
    clip-path: inset(85% 0 0 0);
    transform: translate(2px, 2px);
  }
}

/* AQUI VAN LOS ESTILOS PARA LA PLANTILLA DE COMENTARIOS */
#template-com img {
  width: 6%;
  border-radius: 50%;
  /* Hace que la imagen sea circular */
  margin-right: 10px;
  /* Espacio entre la imagen y el texto */
}

#template-com {
  display: none;
  /* Usar flexbox para alinear la imagen y el texto */
  align-items: flex-start;
  /* Alinear la imagen y el texto al inicio */
  margin-bottom: 10px;
  /* Espacio entre comentarios */
}

.comment-text {
  flex-grow: 1;
  /* Permite que el texto ocupe el espacio restante */
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-style: outset;
}


/* Responsive styles */
/* Adjustments for smaller screens */
/* This will make the layout more mobile-friendly */

@media (max-width: 561px) {

  #comentarios-section {
    width: 100%;
  }

  #comentario-text {
    height: 200px;
  }

  .contenedor-comments {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    margin: 10px 10px 10px 10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .top-bar {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .glitch {
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
  }

  .title {
    font-size: 18px;
    margin-left: 0;
  }

  .video-player {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 20px;
  }

  #video-frame {
    width: 100%;
    height: 300px;
  }

  .imagenes-contenedor {
    width: 50%;
    gap: 0;
  }
}